@layer tokens, base, skin, components, docs, labs;

@import "./styles/tokens.css";
@import "./styles/base.css";
@import "./styles/skin.css";
@import "./styles/components.css";
@import "./styles/docs.css";
@import "./styles/labs.css";
